.git-credentials
.bash*
.zsh_history
.zshrc.pre-oh-my-zsh
Music
Documents
.vscode*
.icons
.local
.gtkrc-2.0
.cargo
.cache
.gitconfig
.mozilla
.mpd
.npm
.ncmpcpp
.zcompdump-*
.wget-hsts
.pki
.ssh
.nvidia-settings-rc
.redhat
.screenlayout
.p10k.zsh
.config/Electron
.config/discord
.config/mpv
.config/obsidian
.config/pulse
.config/gtk-*
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/Code
.config/nemo
.config/user-dirs.locale
.config/dconf
.config/vscode-sqltools
.config/mimeapps.list
.config/obs-studio
.config/yay
.config/coc
